In [1]:
import findspark
findspark.init()
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("exapmle").getOrCreate()
from pyspark.sql.functions import *
from pyspark.sql.types import *

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
23/09/22 08:18:51 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [5]:
df_sales = spark.read.option("header",True).option("inferschema",True).csv('/home/labuser/Desktop/input_files/inp1.csv')

In [6]:
df_product = spark.read.option("header",True).option("inferschema",True).csv('/home/labuser/Desktop/input_files/inp2.csv')

In [7]:
df_sales.show()
df_product.show()

+--------------+----------+-----------+-------------+-------------------+
|transaction_id|product_id|customer_id|quantity_sold|          timestamp|
+--------------+----------+-----------+-------------+-------------------+
|             1|       101|        201|            5|2023-09-22 10:15:00|
|             2|       102|        202|            3|2023-09-22 11:30:00|
|             3|       101|        203|            2|2023-09-22 12:45:00|
|             4|       103|        204|            1|2023-09-22 14:00:00|
|             5|       102|        205|            4|2023-09-22 15:15:00|
+--------------+----------+-----------+-------------+-------------------+

+----------+------------+-----------+-----+
|product_id|product_name|   category|price|
+----------+------------+-----------+-----+
|       101|      Laptop|Electronics|  800|
|       102|  Smartphone|Electronics|  600|
|       103|        Desk|  Furniture|  250|
|       104|  Headphones|Electronics|  100|
|       105|       Chair|  Furniture|  150|
+----------+------------+-----------+-----+

In [10]:
# join: 
# 1st way
df_sales.join(df_product).show()

+--------------+----------+-----------+-------------+-------------------+----------+------------+-----------+-----+
|transaction_id|product_id|customer_id|quantity_sold|          timestamp|product_id|product_name|   category|price|
+--------------+----------+-----------+-------------+-------------------+----------+------------+-----------+-----+
|             1|       101|        201|            5|2023-09-22 10:15:00|       101|      Laptop|Electronics|  800|
|             1|       101|        201|            5|2023-09-22 10:15:00|       102|  Smartphone|Electronics|  600|
|             1|       101|        201|            5|2023-09-22 10:15:00|       103|        Desk|  Furniture|  250|
|             1|       101|        201|            5|2023-09-22 10:15:00|       104|  Headphones|Electronics|  100|
|             1|       101|        201|            5|2023-09-22 10:15:00|       105|       Chair|  Furniture|  150|
|             2|       102|        202|            3|2023-09-22 11:30:00|       101|      Laptop|Electronics|  800|
|             2|       102|        202|            3|2023-09-22 11:30:00|       102|  Smartphone|Electronics|  600|
|             2|       102|        202|            3|2023-09-22 11:30:00|       103|        Desk|  Furniture|  250|
|             2|       102|        202|            3|2023-09-22 11:30:00|       104|  Headphones|Electronics|  100|
|             2|       102|        202|            3|2023-09-22 11:30:00|       105|       Chair|  Furniture|  150|
|             3|       101|        203|            2|2023-09-22 12:45:00|       101|      Laptop|Electronics|  800|
|             3|       101|        203|            2|2023-09-22 12:45:00|       102|  Smartphone|Electronics|  600|
|             3|       101|        203|            2|2023-09-22 12:45:00|       103|        Desk|  Furniture|  250|
|             3|       101|        203|            2|2023-09-22 12:45:00|       104|  Headphones|Electronics|  100|
|             3|       101|        203|            2|2023-09-22 12:45:00|       105|       Chair|  Furniture|  150|
|             4|       103|        204|            1|2023-09-22 14:00:00|       101|      Laptop|Electronics|  800|
|             4|       103|        204|            1|2023-09-22 14:00:00|       102|  Smartphone|Electronics|  600|
|             4|       103|        204|            1|2023-09-22 14:00:00|       103|        Desk|  Furniture|  250|
|             4|       103|        204|            1|2023-09-22 14:00:00|       104|  Headphones|Electronics|  100|
|             4|       103|        204|            1|2023-09-22 14:00:00|       105|       Chair|  Furniture|  150|
+--------------+----------+-----------+-------------+-------------------+----------+------------+-----------+-----+
only showing top 20 rows

In [26]:
# joins using another way 
df3salesproduct =df_sales.join(df_product,on='product_id')
df3salesproduct.show()

+----------+--------------+-----------+-------------+-------------------+------------+-----------+-----+
|product_id|transaction_id|customer_id|quantity_sold|          timestamp|product_name|   category|price|
+----------+--------------+-----------+-------------+-------------------+------------+-----------+-----+
|       101|             1|        201|            5|2023-09-22 10:15:00|      Laptop|Electronics|  800|
|       102|             2|        202|            3|2023-09-22 11:30:00|  Smartphone|Electronics|  600|
|       101|             3|        203|            2|2023-09-22 12:45:00|      Laptop|Electronics|  800|
|       103|             4|        204|            1|2023-09-22 14:00:00|        Desk|  Furniture|  250|
|       102|             5|        205|            4|2023-09-22 15:15:00|  Smartphone|Electronics|  600|
+----------+--------------+-----------+-------------+-------------------+------------+-----------+-----+

In [28]:
#if we don't have matching column name in both the tables then 
df_sales.join(df_product,df_sales['product_id']==df_product['product_id']).show()

+--------------+----------+-----------+-------------+-------------------+----------+------------+-----------+-----+
|transaction_id|product_id|customer_id|quantity_sold|          timestamp|product_id|product_name|   category|price|
+--------------+----------+-----------+-------------+-------------------+----------+------------+-----------+-----+
|             1|       101|        201|            5|2023-09-22 10:15:00|       101|      Laptop|Electronics|  800|
|             2|       102|        202|            3|2023-09-22 11:30:00|       102|  Smartphone|Electronics|  600|
|             3|       101|        203|            2|2023-09-22 12:45:00|       101|      Laptop|Electronics|  800|
|             4|       103|        204|            1|2023-09-22 14:00:00|       103|        Desk|  Furniture|  250|
|             5|       102|        205|            4|2023-09-22 15:15:00|       102|  Smartphone|Electronics|  600|
+--------------+----------+-----------+-------------+-------------------+----------+------------+-----------+-----+

In [15]:
#3rd way 
# left join
df3_salprod = df_sales.join(df_product,df_sales['product_id']==df_product["product_id"],how="left")
df3_salprod.show()

+--------------+----------+-----------+-------------+-------------------+----------+------------+-----------+-----+
|transaction_id|product_id|customer_id|quantity_sold|          timestamp|product_id|product_name|   category|price|
+--------------+----------+-----------+-------------+-------------------+----------+------------+-----------+-----+
|             1|       101|        201|            5|2023-09-22 10:15:00|       101|      Laptop|Electronics|  800|
|             2|       102|        202|            3|2023-09-22 11:30:00|       102|  Smartphone|Electronics|  600|
|             3|       101|        203|            2|2023-09-22 12:45:00|       101|      Laptop|Electronics|  800|
|             4|       103|        204|            1|2023-09-22 14:00:00|       103|        Desk|  Furniture|  250|
|             5|       102|        205|            4|2023-09-22 15:15:00|       102|  Smartphone|Electronics|  600|
+--------------+----------+-----------+-------------+-------------------+----------+------------+-----------+-----+

In [29]:
#select any 4 columns
# df3_salprod.select("customer_id","quantity_sold").show()
df3salesproduct.select("product_id","customer_id","quantity_sold").show()
# df_sales.join(df_product).select("customer_id","quantity_sold").show()

+----------+-----------+-------------+
|product_id|customer_id|quantity_sold|
+----------+-----------+-------------+
|       101|        201|            5|
|       102|        202|            3|
|       101|        203|            2|
|       103|        204|            1|
|       102|        205|            4|
+----------+-----------+-------------+

In [30]:
employees = [(1, "Scott", "Tiger", 1000.0, 
                      "united states", "+1 123 456 7890", "123 45 6789"
                     ),
                     (2, "Henry", "Ford", 1250.0, 
                      "India", "+91 234 567 8901", "456 78 9123"
                     ),
                     (3, "Nick", "Junior", 750.0, 
                      "united KINGDOM", "+44 111 111 1111", "222 33 4444"
                     ),
                     (4, "Bill", "Gomes", 1500.0, 
                      "AUSTRALIA", "+61 987 654 3210", "789 12 6118"
                     )
                ]

In [31]:
employeesDF = spark. \
    createDataFrame(employees,
                    schema="""employee_id INT, first_name STRING, 
                    last_name STRING, salary FLOAT, nationality STRING,
                    phone_number STRING, ssn STRING"""
                   )

In [32]:
employeesDF.show()

+-----------+----------+---------+------+--------------+----------------+-----------+
|employee_id|first_name|last_name|salary|   nationality|    phone_number|        ssn|
+-----------+----------+---------+------+--------------+----------------+-----------+
|          1|     Scott|    Tiger|1000.0| united states| +1 123 456 7890|123 45 6789|
|          2|     Henry|     Ford|1250.0|         India|+91 234 567 8901|456 78 9123|
|          3|      Nick|   Junior| 750.0|united KINGDOM|+44 111 111 1111|222 33 4444|
|          4|      Bill|    Gomes|1500.0|     AUSTRALIA|+61 987 654 3210|789 12 6118|
+-----------+----------+---------+------+--------------+----------------+-----------+